<%- include ../templates/_head.ejs %>
<body>
  
  <form action="/profile" method="POST">
    <label>Name:</label>
    <input id="editName" name="name" type="text" value="<%= user.name %>">
    <input type="submit">
  </form>


  <input id="cuisineSearchInput" type="text" placeholder="search for cuisine">
  <ul id="showCuisinesList">
    
  </ul>

  <ul id="faveCuisineBoard">
    <%  user.faveCuisines.forEach(function(e,i){ %>
      <li><%= e %></li>
    <% }); %>
  </ul>




</body>
</html>