<%- include templates/_head.ejs %>

<body>

<%- include templates/_header.ejs %>


  <div class="hero">
    <div class="big-hero">SUPPER CLUB</div>
    <div class="small-hero">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    <a href="/how" class="btn btn-sec">How it works</a>
  </div>

  <section class="search-bar">
    <form action="/searchresults" method="POST" id="search-form">
      <input name="location" class="form-input" placeholder="where do you want to dine?">
    </form>
  </section>

  <div id="searchresults">
          
  </div>

</body>
</html>