<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
<script src="javascript/suppers.js"></script></head>
<body>
  <h1><%= supper[0].address[0].firstLine %></h1>

<button id="supper-add"><a href="/suppers/new">Add a Supper</a></button>

</body>
</html>