@import url(http://fonts.googleapis.com/css?family=Raleway:500,800,700,100,900,400,300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,200italic,300italic,400italic,600,600italic,700);

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;

}

.hero-login{
  padding:1px;
  text-align: center;
  vertical-align: top;
}

.box h1{
  font-weight: 300;
  font-size: 24px; 
  color: white;
}

.login-box {
  display: block;
  margin: 0 auto;
  background-color:rgba(59,68,75,.6);
  margin-top: 150px;
  width:300px;
  height: 250px;
  padding: 10px;
}

.login-box h1{
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  color: white;
}

.form-group input {
  width: 100%;
}

.form-group label {
  font-size:14px;
  padding:1px;
}

.signup-bottom p {
  color:white;
  font-weight: 300;
}

.signup-bottom a {
  color:white;
  font-weight: 300;
}

.login{
  text align:right;
}