<nav class="global-nav">
  <div class="container">
    <div class="brand">
      <span>Supper</span>Club
    </div>
    <div class="global-menu">
      <ul>
        <li><a href="">Login</a></li>
        <li><a href="">Suppers</a></li>
        <li><a href="">Login</a></li>
        <li><a class="btn btn-prim" href="">Register</a></li>
      </ul>
    </div>
  </div>
</nav>  