<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SupperClub App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/javascript/search.js"></script>
    <script src="/javascript/suppers.js"></script>
    <script src="/javascript/profileSelect.js"></script>
    <script src="/javascript/suppers.js"></script>
    <script src="/javascript/form.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="/javascript/map.js"></script>
    <script src="/javascript/attending.js"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
</head>