<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/javascript/suppers.js"></script>
<script src="/javascript/form.js"></script>
</head>

</head>
<body>

  <form action='/suppers' method='POST' id="supper-form" class="form-inline">
    <input name="firstLine" type="text" class="form-control" id="new-supper" placeholder="First Line"><br>
    <input name="secondLine" type="text" class="form-control" id="new-supper" placeholder="Second Line"><br>
    <input name="city" type="text" class="form-control" id="new-supper" placeholder="City"><br>
    <input name="postCode" type="text" class="form-control" id="new-supper" placeholder="Postcode"><br>
    <input type="datetime-local" name="date" class="form-control" > <br>
    No. of Guests   <select name="guestNumber" type="integer" id="guestNumber"></select><br>
    <input type="checkbox" class="checkbox"  name="veggie" />Veggie<br>
    <input type="checkbox" class="checkbox" name="vegan" />Vegan<br>
    <input name="dishes" type="text" class="form-control" id="new-supper" placeholder="Dish"><br>
    <input name="cuisine" type="text" class="form-control" id="new-supper" placeholder="Cuisine"><br>
    <input name="drinks" type="text" class="form-control" id="new-supper" placeholder="Drinks"><br>
    <input name="dressCode" type="text" class="form-control" id="new-supper" placeholder="Dresscode"><br>
    <textarea name="reviews" id="" cols="30" rows="10" placeholder="Enter your review here"></textarea><br>
     <textarea name="title" id="" cols="30" rows="10" placeholder="Enter your title here"></textarea><br>
    <textarea name="description" id="" cols="30" rows="10" placeholder="Enter your description here"></textarea><br>
    <input name="image" type="text" class="form-control" id="new-supper" placeholder="Image URL"><br>
    <button type="submit" class="submit" class="btn btn-default">Add Supper</button>
  </form>

</body>
</html>