<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
<script src="/javascript/suppers.js"></script></head>
<body>

  <form action='/suppers' method='POST' id="supper-form" class="form-inline">
    <input name="firstLine" type="text" class="form-control" id="new-supper" placeholder="First Line"><br>
    <input name="secondLine" type="text" class="form-control" id="new-supper" placeholder="Second Line"><br>
    <input name="city" type="text" class="form-control" id="new-supper" placeholder="City"><br>
    <input name="postCode" type="text" class="form-control" id="new-supper" placeholder="Postcode"><br>
<!--     <input type="hidden" value="0" name="veggie" /><br>
    <input type="checkbox" value="1" name="veggie" />Veggie<br>
    <input type="hidden" value="0" name="vegan" /><br>
    <input type="checkbox" value="1" name="vegan" />Vegan<br> -->
    <input name="dishes" type="text" class="form-control" id="new-supper" placeholder="Dish"><br>
    <input name="cuisine" type="text" class="form-control" id="new-supper" placeholder="Cuisine"><br>
    <input name="drinks" type="text" class="form-control" id="new-supper" placeholder="Cuisine"><br>
    <!-- <input type="datetime-local" name="date" class="form-control" > <br> -->
    <input name="dressCode" type="text" class="form-control" id="new-supper" placeholder="Dresscode"><br>
    <textarea name="reviews" id="" cols="30" rows="10" placeholder="Enter your review here"></textarea><br>
    <textarea name="description" id="" cols="30" rows="10" placeholder="Enter your description here"></textarea><br>
    <button type="submit" class="btn btn-default">Add Supper</button>
  </form>

</body>
</html>